body {
    padding: 1px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #dddddd;
}

ul.commmands li {
    /*border: 1px;*/
    /*padding: 2px;*/

    margin-left: 22px;
}

a {
    color: #007bac;
}

#navig_private {
    float: right;
}

.projects li a {
    font-size: 14px;
    padding-bottom: 5px;
}

li a {
    font-size: 20px;
    padding-bottom: 10px;
}

h1 {
    font-size: 15px;
    font-weight: normal;
    margin: 0px;
    /*padding: 2px 2px 1px 3px;*/
    padding: 0;
    width: 200px;
    color: white;
    /*background: #cccccc;*/
}

body > .container {
    /*padding-top: 60px;*/
}

footer {
    width: 100%;
    background: #787878;
}

.scripts {
    width: 160px;
    float: left;
    background-color: #dddddd;
    font-size: 16px;
}

.message {
    min-width: 1000px;
    float: right;
    background-color: #fafafa;
    font-size: 10px;
    padding-left: 5px;
}

h2 {
    font-size: 14px;
}

.logs {
    width: 250px;
    float: left;

}

#containerworldTime {
    height: 395px;
    margin: auto;
    overflow: hidden;
    width: 520px;
    border: green solid 1px;
    top: 0px;
    right: 0px;
    float: right;
}

#containerworldTime iframe {
    border: 0 solid;
    height: 1200px;
    margin-left: -440px;
    margin-top: -360px;
    width: 1400px;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -o-transform: scale(0.4);
    -ms-transform: scale(0.4);
}

div#navig_public,
div#navig_public ul li {
    display: none;
    height: 0;
}

nav.first_menu {
    display: none;
    height: 0;
}

.navbar {
    background-color: #0b173d;
    padding: 0 0;
}

/* LOGO*/
.navbar-light .navbar-nav .logo .nav-link{
    padding: 1px;
    margin: 1px;
}

.navbar-light .navbar-nav .logo {
    /*width: 200px;*/
}
.navbar-light .navbar-nav .logo img{
    /*margin-left: 0px;*/
    /*padding-left: 0px;*/
    /*padding-right: 10px;*/
    /*padding-top: 0px;*/
    /*margin-top: -2px;*/
    height: 32px;
    /*width: 40px;*/
    display: inline-block;
    /*width: 200px;*/
}
.navbar-light .navbar-nav .logo-text .nav-link:link,
.navbar-light .navbar-nav .logo-text .nav-link:visited,
.navbar-light .navbar-nav .logo-text .nav-link {
    color: rgb(208, 160, 3);
    padding-right: 20px;
    /*padding-top: 0px;*/
    /*width: 140px;*/
    display: inline-block;
}


/* MENU */
.navbar-light .navbar-nav .nav-link {
    padding-top: 7px;
}
/*.navbar-light .navbar-nav ,*/
.navbar-light .navbar-nav .nav-link:link {
    color: white;
    font-size: large;
    font-weight: bold;
    /*margin-top: -3px;*/
}
.navbar-light .navbar-nav .nav-link:hover {
    color: yellow;
}

.navbar-light .navbar-nav .nav-link:active {
    /*color: white;*/
}

.navbar-light .navbar-nav .nav-link:visited {
    color: orange;
}